html, body{

}

.wrapper img{
position: fixed;
}

.wrapper{


  float: left;
  width: 30%;
  
 
  margin-bottom: 5%;
  border-radius: 15px;

margin-left: 2.5%;


transform: scale(0.94);
animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
   height: 50%;
   background: white;
   position: relative;
   overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
 }
     
        &:hover{
          .remove, .done{
            transform: translateY(-100%);
          }
        }
      
    
  


    @media(max-width:1000px) {
      .wrapper{
        width: 96%;
        margin-top: 5%;
        height: 50%;
      }
      .bottom img{
     margin-top: 10%;

        
      }
      
    }
  
 

.container{

  height: 100% ;
}

.bottom img{

  margin-top: -10%;
  margin-right: 30%;
  margin-left: 30%;
}


.SuperPro img{

  margin-top: 0%;
  margin-right: 30%;
  margin-left: 30%;
}

.nappi a:hover {
  background-color: #0069AD;
  color: #FA7268;
  border-radius: 15px;
  padding: auto;

}

.nappi a.active {
  background-color: #0069AD;
  color: white;
  border-radius: 15px;
  padding: auto;
}

.nappi a {

  color: white;
  background-color: #0069AD;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 15px;
  font-family: poppins;


}

@media(max-width:1000px) {
  
  .bottom img{

    margin-top: -10%;
   width: 35%;
    margin-left: 32%;
    float: right;
  }
  .SuperPro img{

    margin-top: 0%;
   width: 30%;
    margin-left: 35%;
    float: right;
  }
  
}